{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-4" style="margin-bottom:100px">
<img src="{% static 'images/banner2.jpeg' %}" height="600px" width="100%">
</div>

<div class="container-fluid" style="margin-bottom:100px">
    <h3 class="text-center text-light fw-bold">Our Collections</h3>
    <p style="text-align:justify;line-height:2">Our categories of products are mainly as electronics groceries and fashion.</p>
</div>

<div class="container-fluid" style="margin-bottom:100px">
    <div class="row">

        {% for i in c %}
        <div class="col-sm-4 mt-4 ml-4">
            <div class="card" style="width: 18rem;">
  <img src="{{i.image.url}}" height="300px:" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <a href="{% url 'shop:products' i.id %}" class="btn btn-primary">Products</a>

  </div>
</div>
        </div>




<!--<div class="container-fluid" style="margin-bottom:100px;">-->
<!--    <div class="row">-->
<!--        {% for i in c %}-->
<!--        <div class="col-sm-4 mt-4 ml-4">-->
<!--            <div class="card" style="width: 18rem;">-->
<!--  <img src="{{i.image.url}}" height="300px" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{i.name}}</h5>-->
<!--      <p>{{i.desc}}</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!-- </div>-->
<!--</div>-->

{% endfor %}
    </div>
</div>
{% endblock  %}
